

.table th, .table td {
 	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none;
	
	/* border-collapse: separate;
	border-spacing: 0 10px; */
	
	padding: 0px;
}

.table #one td, .table #addOne td {
	padding-top: 30px;
}

#Two > td , #addTwo > td {
	padding-left: 50px;
}

#Three > td, #addThree > td {
	padding-left: 100px;
}

#addTwo > td, #addThree > td {
	padding-bottom: 15px;
}

span {
	display: table-cell;
	padding: 10px 10px 0px 10px;
}