<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gam.dev.gamImpl.GamImpl">
	<!-- 샘플용 mapper -->
	<!--
		<select id="testSelect" resultType="String">
			select count(*) from employees
		</select>
  	-->
  	<select id = "autoSelect" resultType = "com.gam.dev.gamVO.ListVO">
  		select list_nm from gam_list where list_nm like '%'||#{value}||'%'
  	</select>
  	
  	<select id = "autoSelectName" resultType = "com.gam.dev.gamVO.UserVO">
  		select user_nicknm from gam_user where user_nicknm like '%'||#{value}||'%'
  	</select>
  	
  	
  	<!--최-->
  	<insert id ="regTitle" parameterType = "com.gam.dev.gamVO.TitleVO">
 		insert into gam_title (gam_seq, category_seq, file_seq, gam_type, gam_title_nm, gam_public_ym, gam_start_dt, 
 			gam_end_dt, gam_create_user_seq, gam_create_dt, gam_update_user_seq, gam_update_dt, gam_copy_cnt)
			VALUES (GAM_TITLE_SEQ.NextVal, #{category_seq}, #{file_seq}, #{gam_type}, #{gam_title_nm}, #{gam_public_ym}, #{gam_start_dt}, 
 			#{gam_end_dt}, #{gam_create_user_seq}, #{gam_create_dt}, #{gam_update_user_seq}, #{gam_update_dt}, #{gam_copy_cnt})
 	</insert>
 	
 	
 	
 	<insert id ="regList" parameterType = "com.gam.dev.gamVO.ListVO">
 		insert into gam_list ()
			VALUES (USER_SEQ.NextVal, #{name}, #{gend}, #{id}, #{pwd}, #{email}, #{tel}, #{addr}, #{birth})
 	</insert>
</mapper>