<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gam.dev.gamImpl.GamImpl">
	<!-- 샘플용 mapper -->
	<!--
		<select id="testSelect" resultType="String">
			select count(*) from employees
		</select>
  	-->
  	<select id = "autoSelect" resultType = "com.gam.dev.gamVO.ListVO">
  		select list_nm from gam_list where list_nm like '%'||#{value}||'%'
  	</select>
  	
  	<select id = "autoSelectName" resultType = "com.gam.dev.gamVO.UserVO">
  		select user_nicknm from gam_user where user_nicknm like '%'||#{value}||'%'
  	</select>
</mapper>